body {
    background-color: #EFEFEF;
    margin: 60px auto;
    width: 70%;
}
nav {
    border-bottom: 1px solid #d5d5d5;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color:darkgrey;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;

}
a {
    text-decoration: none;
    color: darkgrey;
    font-family:'Arial', 'Sans-Serif';
}
a:hover {
    text-decoration: underline;
}
h1 {
    color: dimgrey;
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    color: darkgrey;
    font-size: 1em;
    line-height: 0em;
    font-family:'Arial','Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.4em;
    color: dimgrey;
    font-family:'Arial', 'Sans-Serif';
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
/** watermelon: #FF3B3F 
    blue: #9ad3de
    brighter nlue: #caebf2
    background: #EFEFEF
    grey: #A9A9A9 **/